<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <a routerLink="/home-page" routerLinkActive="active" class="navbar-brand">Home</a>
    <a routerLink="/us-map-flights" routerLinkActive="active" class="btn btn-default">US Flights</a>
    <a routerLink="/carrier-stats" routerLinkActive="active" class="btn btn-default">Career Stats</a>
    <a href="bipartite.html" class="btn btn-default">View Bipartite Graph</a>
</nav>
<!-- <app-us-map-flights></app-us-map-flights>
<app-carrier-stats></app-carrier-stats> -->

<router-outlet></router-outlet>